.font{
	font-family: 'Kodchasan', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Srisakdi', cursive;
}
.tapdoc{
	background: url(../images/bgr.jpg) no-repeat;
    background-size:100vw 100vh;
	overflow-y:hidden;
	overflow-x:hidden;
}
.van{
	font-family: 'Kodchasan', sans-serif !important;
}
.worlds{
	font-family: 'Patrick Hand', cursive !important;
}
.alpha{
	font-family: 'Kodchasan', sans-serif;
	font-size:7vw;
	color: white;
	font-weight:bold;
	background: -webkit-linear-gradient(#0FC,#006 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0.3vw 0.3vw #0FC;
}
.title{
	font-family: 'Lobster', cursive;
	font-size:6vw;
	color:#025;
	text-shadow: 0.3vh 0.3vh #fff;
	text-align:right;
	margin:-7vh 57vw 0 0;
	text-decoration:underline;
	position: absolute;
	width: 44vw;
	top: 23vh;
}
.title>a{
	text-decoration:none;
	color:#f67810;
	position:absolute;
	top:13vh;
	left:21vw;
}
.title>img{
	width:10vw;
	height:10vh;
	position:absolute;
	top:0vh;
	left:0vw;
	z-index:1000;
}
.imgBig{
	position:absolute;
	width:46vw;
	height: 25vw;
	margin-left:6vw;
	box-shadow: 1vh 2vh #481e08;
	border-radius:3vh;
}
.imgSmall{
	position:absolute;
	width: 28vw;
	height: 16vw;
	margin-left: 13vw;
	margin-top: 5vw;
}
.blockView{
	width:18vw;
	position:absolute;
	top:0px;
	width:53vw;
	margin-left:45vw;
	display:inline-block;
    white-space: nowrap;
}
.grid{
	width:100vw;
	height:70vh;
	float:left;
}
.paging{
	position:absolute;
	color: darksalmon;
    font-weight: 100;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
	font-family: 'Fredoka One', cursive;
	left: 20vw;
    top: 80vh;
}
@media only screen and (max-width: 800px)  {
    .paging{
        top: 76vh;
    }
}
.page-control:active { background: #f7b617;
}
.bottom{	
	position:absolute;
	bottom:0px;
	height:33vh;
	width:98vw;
	left:1vw;
	float: left;
}
.box{
	width:29vw;
	height:30vh;
	box-shadow: 1vh 1vh #603;
	background-color: white;
	float:left;
	margin-left:3vw;
}
.box>img{
	width: 100%;
	height:100%;
}
.box{
	position:relative;
	}
.box>label{
	position:absolute;
	left:5vw;
	bottom:-3vh;
	font-family: 'Pacifico', cursive;
	font-size:5vw;
	background: -webkit-linear-gradient(#070707,#006 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0.3vw 0.3vw #0FC;
	
}
.box>a{
	position:absolute;
	left:2vw;
	bottom:23vh;
	font-size:4vw;	
	color:#F00;
	text-decoration:none;
}
.box>p{
	position:absolute;
	left:2vw;
	top:0vh;
	font-family: 'Srisakdi', cursive;
	font-size:3vw;
	font-weight:900;
	color:#03F;
  z-index:2;
}
.point{
	color:#FF0;
}
.poempoint{
	color : red;
}
.box>#screen{
	width:10vh;
	height:10vh;
	right:0px !important;
	bottom:0px !important;
	position:absolute;
}
.private{
	background-color:#FF9;
	}
.oblink{
		
	animation-name: flash;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	//Firefox 1+
	-webkit-animation-name: flash;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	//Safari 3-4
	-moz-animation-name: flash;
	-moz-animation-duration: 3s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.4; }
    100% { opacity: 1.0; }
}

//Firefox 1+
@-webkit-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.4; }
    100% { opacity: 1.0; }
}

//Safari 3-4
@-moz-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.4; }
    100% { opacity: 1.0; }
}
#back>img{
	position:absolute;
	right:3vw;
	top:1vh;
	width:8vw;
	height:15vh;
	z-index:10;	
}
#popup{
	background-size:100% 100%;
	position:absolute;
	top:5vh;
	left:8vw;
	width:84vw;
	height:90vh;
	opacity:1;
	border-radius:1vh;
	font-family: 'Charmonman', cursive;
	font-size:3.5vw;
	font-weight:900;
	color:#003;
	text-align:center;
	overflow-x: scroll;
	box-shadow: 1vh 1vh #333333;
	border: double 1px #333333;
}