<!DOCTYPE html>
<html>
<head>
    <title>Load XML And Show As li In Angular JS - sibeecst_passion </title>
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/xml2json.js"></script>
    <script src="js/app.js"></script>
    <script src="js/data.js"></script>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body ng-app="httpApp" ng-controller="httpController">    
<div class="grid">	
		<div class="blockView" ng-repeat="ct in list | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="loadContent(ct.id)">
            <a href="#">
                <h2>{{ct.van}}</h2>
                <p>{{ct.chu}}</p></br>
                <p>{{ct.title}}</p>
            </a>
        </div> 
</div>
<div class="paging">
        	<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
       			 <<
   			 </button>
    			{{currentPage+1}}/{{numberOfPages()}}
    		<button ng-disabled="currentPage >= list.length/pageSize - 1" ng-click=					"currentPage=currentPage+1">
        		>>
    		</button>
        </div>   
<script type="text/javascript">
</script>
</body>
</html>